@font-face {
  font-family: ubuntu;
  src: url(./fonts/Ubuntu-Regular.ttf);
}
@font-face {
  font-family: oswald;
  src: url(./fonts/Oswald-VariableFont_wght.ttf);
}
@font-face {
  font-family: mplus;
  src: url(./fonts/MPLUS1p-Regular.ttf);
}
@font-face {
  font-family: emoji;
  src: url(./fonts/NotoEmoji-VariableFont_wght.ttf);
}

:root {
  --bg:  #1f2355;
  --fg:  #a9b1d6;
  --black: #414868;
  --red: #f7768e;
  --green: #9ece6a;
  --yellow: #e0af68;
  --blue: #7aa2f7;
  --magenta: #bb9af7;
  --cyan: #7dcfff;
  --white: #a9b1d6;
  --bright-black: #24283b;
  --bright-red: #db4b4b;
  --bright-green: #73daca;
  --bright-yellow: #ff9e64;
  --bright-blue: #2ac3de;
  --bright-magenta: #ff007c;
  --bright-cyan: #89ddff;
  --bright-white: #c0caf4;
}

* {
  font-family: ubuntu, mplus, oswald, emoji;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: var(--bright-black);
}

header {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  background: var(--black);
  height: 2.5rem;
}
nav > button {
  font-size: 0.85rem;
  border: 1px solid var(--bright-magenta);
  height: 1.8rem;
  width: 4rem;
  border-radius: 15px;
  background: var(--magenta);
}
nav > button:hover {
  font-size: 0.95rem;
  background: var(--yellow);  
  border: 1px solid var(--bright-yellow);
}

h1 { 
  color: var(--white);
  font-size: 4rem;
  margin: 20px;
}
div#content {
  color: var(--bright-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--bg);

  padding: 20px;
  border: 2px solid black;
  border-radius: 20px;
  margin-bottom: 40px;
}
div.section {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  max-width: 40ch;
  border: 2px solid red;
  border-radius: 30px;
}
div.section > div.item {
  padding: 10px;
  line-height: 1.4;
}
.price {
  font-weight: 800;
  font-size: 1.4rem;
}
img {
  width: 20%;
}

h2.headline {
  text-align: center;
  font-size: 2rem;
  max-width: 50ch;
}

div.fluff {
  max-width: 80ch;
  font-size: 1.2rem;
  line-height: 1.5;
}
